- Encoding.default_external = 'utf-8'

!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")/
    %title <`1:TODO: title`>
    %meta(content="<`2:TODO: description`>" name="description")/
    %meta(content="Genki Sugimoto" name="author")/
    %meta(content="yes" name="apple-mobile-web-app-capable")/
    %meta(content="black-translucent" name="apple-mobile-web-app-status-bar-style")/
    %link(href="reveal/css/reveal.min.css" rel="stylesheet")/
    %link#theme(href="reveal/css/theme/default.css" rel="stylesheet")/
    %link(href="css/screen.css" rel="stylesheet")/
    / For syntax highlighting
    %link(href="reveal/lib/css/zenburn.css" rel="stylesheet")/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write(
        '<link rel="stylesheet" href="reveal/css/print/'
        + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' )
        + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      %script(src="reveal/lib/js/html5shiv.js")
  %body
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        - Dir.glob('./slides/*.haml') do |slide|
          = Haml::Engine.new(File.read(slide)).render

    %script(src="reveal/lib/js/head.min.js")
    %script(src="reveal/js/reveal.min.js")
    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        // Theme
        // theme: Reveal.getQueryHash().theme || 'default', // available themes are in /css/theme
        // Transition style
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none
        // Display controls in the bottom right corner
        controls: false,
        // Display a presentation progress bar
        progress: true,
        // Push each slide change to the browser history
        history: false,
        // Enable keyboard shortcuts for navigation
        keyboard: true,
        // Enable the slide overview mode
        overview: true,
        // Vertical centering of slides
        center: false,
        // Loop the presentation
        loop: false,
        // Apply a 3D roll to links on hover
        rollingLinks: true,

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'reveal/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
            // { src: 'reveal/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });


