.reveal {
	// Align
	* {
		text-align: left;
	}
	h1,
	h2 {
		text-align: center;
	}
	section img {
		display: block;
		margin: 1em auto;
	}

	// Text indent
	p,
	ul,
	ol {
		margin-left: 1em;
	}
	ul,
	ol {
		list-style: inside;
	}

	// Spacing
	h1 {
		line-height: 1.3em;
	}
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1em;
	}

	li {
		line-height: 1.5em;
	}

	// Title slide
	h1 {
		word-break: keep-all;
	}
	h1 + p { // names
		text-align: center;
	}
}
